*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
  /* background: linear-gradient(rgb(151, 42, 2), rgb(243, 81, 0), rgb(255, 68, 0)); */
  background-size: cover;
}


/* FIXED CANVAS */

canvas{
  position:fixed;
  inset:0;

  width:100vw;
  height:100vh;

  object-fit:cover;

  display:block;
}


/* SCROLL AREA */

.scroll-section{
  height:500vh;
}