

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
  background-color: rgba(0, 0, 0, 0.701);
}


/* FIXED CANVAS */

canvas{
  position:fixed;
  inset:0;

  width:100vw;
  height:100vh;

  display:block;

  object-fit:cover;

  z-index:1;
}

/* =========================================
   SLIDER CONTAINER
========================================= */

.slider-container{

  position:fixed;

  bottom:40px;

  left:50%;

  transform:translateX(-50%);

  width:min(500px, 85vw);

  z-index:9999;

  padding-inline:10px;

}



/* =========================================
   TRACK
========================================= */

.slider-track{

  width:100%;

  height:3px;

  background:rgba(255,255,255,0.2);

  position:relative;

  border-radius:999px;

}



/* =========================================
   PROGRESS
========================================= */

.slider-progress{

  width:0%;

  height:100%;

  background:white;

  position:absolute;

  left:0;

  top:0;

  border-radius:999px;

}



/* =========================================
   KNOB
========================================= */

.slider-knob{

  width:18px;

  height:18px;

  border-radius:50%;

  background:white;

  position:absolute;

  top:50%;

  left:0%;

  transform:translate(-50%,-50%);

  cursor:grab;

  touch-action:none;

}



/* =========================================
   MOBILE
========================================= */

@media(max-width:768px){

  .slider-container{

    bottom:30px;

    width:90vw;

  }

  .slider-knob{

    width:16px;

    height:16px;

  }

}



@media(max-width:480px){

  .slider-container{

    bottom:24px;

    width:92vw;

  }

  .slider-track{

    height:2px;

  }

  .slider-knob{

    width:14px;

    height:14px;

  }

}